body {
    font-family: sans-serif;
    padding: 1rem 4rem;
}

li { padding-top: 4px; }

a:link, a:visited {
    color: #00248F;
    text-decoration: none;
}

:link:hover,:visited:hover {
    color: #B32400;
    text-decoration: underline;
}

nav {
    background-color: lightgoldenrodyellow;
    border: 1px solid gray;
    padding: 0.3rem;
    font-size: 18px;
    color: black;
}

nav > a {
    margin-left: 1rem;
}

/* .content_inner {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
} */

#main_content {
    margin-top: 3rem;

}