<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title_text %}{% endblock %}</title>

    <link rel="stylesheet" href="static/css/site.css" />

    {% block add_css %}{% endblock %}
</head>

<body>
    <nav>
        <a href="/">Home</a>
        {% if current_user.is_anonymous %}
        <a href="/login">Login</a>
        {% else %}
        <a href="/upload">Upload</a>
        <a href="/logout">Logout</a>
        {% endif %}
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
    <ul>
        {% for msg in messages %}
        <li class="errmsg">{{ msg }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    {% endwith %}

    <div id="main_content">
    {% block main_content %}{% endblock main_content %}
    </div>

    <div class="debug-div">
        <p>current_user: {{ current_user }}</p>
    </div>

    {% block add_js %}{% endblock %}
</body>

</html>