{% extends "_base.html" %}

{% block title_text %}Upload Files - File Upload Site{% endblock %}

{% block main_content %}

<div class="content_inner">

    <h1>Upload Files</h1>
    <form method="post" action="" enctype="multipart/form-data">
        <p><input type="file" name="file" {{ accept }} multiple></p>

        {% if purposes %}
        <div class="purpose-div">
            <label>Purpose of File:</label><br>
            {% for p in purposes %}
                <label><input type="radio" name="purpose" {{ p[0] }}>{{ p[1] }}</label><br>
            {% endfor %}
        </div>
        {% endif %}        

        <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% if files %}
        <p>Files already uploaded:</p>
        <ul>
            {% for file in files %}
                <li><code>{{ file }}</code></li>
            {% endfor %}
        </ul>
    {% endif %}

</div>

{% endblock main_content%}
