<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>

<body>
    <h1>File Upload</h1>
    <form method="post" action="" enctype="multipart/form-data">
        <p><input type="file" name="file" accept=".csv,.txt,.md" multiple></p>
        <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% if files %}
        <p>Files already uploaded:</p>
        <ul>
        {% for file in files %}
            <li><code>{{ file }}</code></li>
        {% endfor %}
        </ul>
    {% endif %}
</body>

</html>